* {
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

body {
    max-width: 1280px;
    /* padding: 0 40px; */
    margin: auto;
    /* overflow: hidden; */
}

.container {
    padding: 0 20px;
}

/* Navigation */
.navi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;
    border-bottom: 1px solid;
    position: fixed;
    z-index: 1;
    width: 1220px;
    top: 0;
    padding-right: 10px;
}

.logo {
    height: 50px;
    /* padding: 9px 10px; */
    display: inline-flex;
    justify-content: flex-start;
}

.menu {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

ul li {
    list-style: none;
}

.menu li {
    padding-left: 15px;
}